@{

}

<div class=" container">
    <div class="form-group">
        @using (Html.BeginForm("directorInfo", "Home", FormMethod.Post))
        {
            <div class="form-control">
                <label></label>
                <input type="text" name="firstName" placeholder="Director First Name" />
            </div>
            <div class="form-control">
                <label></label>
                <input type="text" name="lastName" placeholder="Director Last Name" />
            </div>
            <div class="form-control">
                <label></label>
                <input type="text" name="country" placeholder="Director Country of Origin" />
            </div>
            <button type="submit" class="btn btn-block btn-primary mx-3">Submit</button>
        }
</div>
</div>